@import '../../styles/variables';

.home-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-page__content {
  display: flex;
  flex-direction: column;
  width: $content-width;
}