@import '../../styles/variables';

header {
  background-color: $light-blue;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
  width: $content-width;
}