@import '../../styles/variables';

footer {
    background-color: $light-blue;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.footer__content {
    height: 10rem;
}