@import '../../styles/variables';

.admin-page {
  display: flex;
  justify-content: center;
  width: 100%;
}

.admin-page__content {
  display: flex;
  flex-direction: column;
  padding: $m-size 0;
  width: $content-width;
}

.admin-page__post-form {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.admin-page__action-buttons {
  display:flex;
  justify-content: flex-end;
  padding: $s-size;
}

.admin-page__loading-spinner {
  margin-top: 150px;
  height: 150px;
}

label {
  display: flex;
  flex-direction: column;
  margin: $m-size 0;

  span {
    margin-bottom: $s-size;
  }
}